body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display:flex;
    text-align: center;
    justify-content:center;
    flex-direction:column;
    background-color: rgb(63, 66, 81);
    margin: 0px;
    padding: 5px;
}

nav a {
    border: solid 1px;
    border-color: grey;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: lighter;
}

nav > ul a:hover,
nav > ul a.active {
    background-color: rgba(127, 127, 127, 0.299);
    transition: all ease 300ms;
}

header {
    text-align: center;
    padding: 200px;
    justify-content:center;
    background-image: url(layout-01-assets/img11.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
header p {
    margin: -25px;
}
header h1 {
    font-size: 50px;
    text-shadow:2px 2px 2px black;
    font-weight: normal;
}

section {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 30px;
}

.Headline1 {
    display:flex;
    flex-direction:column;
    padding-bottom: 2em;
    grid-column:2 / 4;
    background-color: lightgrey;
    margin-top: 50px;
    max-height: 51vh;
}

.Headline2 {
    display:flex;
    flex-direction:column;
    padding-bottom: 2em;
    grid-column: 4 / 6;
    background-color: lightgrey;
    margin-top: 50px;
    max-height: 51vh;
}

.Headline3 {
    display:flex;
    flex-direction:column;
    padding-bottom: 2em;
    grid-column: 6 / 8;
    background-color: lightgrey;
    margin-top: 50px;
    max-height: 51vh;
}

.Left {
    grid-column: 2 / 5;
    background-color: lightgrey;
}

.Right {
    grid-column: 5 / 8;
    background-color: lightgrey;
}

.Headline1 h3 {
    color:green;
    padding: 10px;
    margin-top: -10px;
}

.Headline2 h3 {
    color:blue;
    padding: 20px;
    margin-top: -10px;
}

.Headline3 h3 {
    color:grey;
    padding: 20px;
    margin-top: -10px;
}

.Left h3 {
    color:grey;
    text-align: center;
}

.Right h3 {
    color:grey;
    text-align: center;
}

.Headline1 a {
    text-align: center;
}

.Headline1 img, .HeadLine2 img, .Headline3 img, .Left img, .Right img {
    width: 100%;
}

.Headline1 p, .Headline2 p, .Headline3 p, .Left p, .Right p {
    padding: 20px;
    margin-top: -30px;
}

.Headline1 a{
    background-color: green;
    width: 120px;
    height: 40px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.Headline2 a{
    background-color: rgb(73, 119, 206);
    width: 120px;
    height: 40px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.Headline3 a{
    background-color: rgb(104, 27, 27);
    width: 120px;
    height: 40px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.Right a{
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 30px;
    border: solid 1px grey;
    text-decoration: none;
    color: grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


.green-button, .blue-button, .red-button {
    align-self:center;
}

.right-button {
    justify-self: end;
    margin-right: 10%;
    margin-bottom: 4%;
}

.OurServices {
    text-align: center;
    padding: 100px;
    background-image: url("layout-01-assets/img13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-top: 50px;
}

.OurServices h2 {
    font-size: 40px;
    font-weight: normal;
    text-shadow:1px 1px 1px black;
}

.OurServices p {
    margin-right: 27%;
    margin-left: 27%;
}  

article {
    display:grid;
    grid-template-columns: 200px repeat(4, 1fr) 200px;
    gap: 30px;
}

.One {
    grid-column: 2 / 3;
    background-color: lightgrey;
    margin-top: 50px;
}

.Two {
    display:flex;
    flex-direction:column;
    grid-column: 3 / 4;
    background-color: lightgrey;
    margin-top: 50px;
}

.Three {
    grid-column: 4 / 5;
    background-color: lightgrey;
    margin-top: 50px;
}

.Four {
    display:flex;
    flex-direction:column;
    grid-column: 5 / 6;
    background-color: lightgrey;
    margin-top: 50px;
}

.Big {
    display:flex;
    flex-direction:column;
    grid-column: 2 / 6;
    background-color: lightgrey;
}

.One img, .Two img, .Three img, .Four img, .Big img {
    width: 100%;
}

.One h3, .Two h3, .Three h3, .Four h3 {
    color:rgb(79, 79, 79);
    padding: 10px;
    margin-top: -2px;
    text-align: center;
}

.Big h3 {
    text-align: flex-start;
    padding:10px;
    margin-left: 10px;
    color:rgb(79, 79, 79);
}

.One p, .Two p, .Three p, .Four p, .Big p {
    color: rgb(79, 79, 79);
    padding: 20px;
    margin-top: -30px;
}

.Two a, .Four a {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border:solid 1px grey;
    text-decoration: none;
    color: grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-left: 10px;
}

.Big a{
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 30px;
    border: solid 1px grey;
    text-decoration: none;
    color: grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-left: 10px;
}

.TwoA, .FourA {
    align-self: center;
    margin-bottom: 4%;
}

.BigA {
    margin-bottom: 2%;
    align-self: flex-start;
}

footer {
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #333;
}

footer {
    background-image: url("layout-01-assets/img14.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.Contact h2 {
    color: white;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
}

.Contact p {
    color:#494949;
    max-width: 650px;
    margin: 20px auto;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.FormBoxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "name message"
    "email message"
    "subject message"
    "send send";
    gap: 0px 20px;
    max-width: 900px;
    margin: 50px auto 0 auto;
    align-items: start;
}

.box1 { 
    grid-area: name; 
}
.box2 { 
    grid-area: email; 
}
.box3 { 
    grid-area: subject; 
}
.bigBox { 
    grid-area: message; 
}
.Send { 
    grid-area: send; 
}

.box1, .box2, .box3, .bigBox {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left;
    padding: 10px 15px;
    border-radius: 5px;
}

.bigBox {
    height: 175px;
}

.Send {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px;
    font-weight: bold;
    justify-self: center;
    align-self: center;
}

.FooterStart {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 60px 0 40px 0;
}

.FooterStart h3 {
    font-style: italic;
    font-weight: normal;
    color: #696969;
    font-size: 28px;
}

.FooterStart p {
    font-style: italic;
    color: #acacac;
}

.FooterEnd {
    border-top: solid 1px #e1e1e1;
    text-align: center;
    font-size: 12px;
    color: #acacac;
    padding: 15px 0 25px 0;
    background-color: white;
}